---
import Layout from "../layouts/Layout.astro";
import { getHomepage } from "../utils/sanity";
import AsciiArtGenerator from "../components/Ascii.astro";

const homepage = await getHomepage();
---

<Layout>
  {
    homepage.heroSection && (
      <section class="container mx-auto px-8 flex flex-col justify-center min-h-screen">
        <div>
          <h1 class="text-7xl mb-8">{homepage.heroSection.headline}</h1>
          <h2 class="text-xl max-w-xl">{homepage.heroSection.subHeadline}</h2>
        </div>

        <AsciiArtGenerator imageUrl={homepage.heroSection.mainImage} />
      </section>
    )
  }
  {
    homepage.aboutSection && (
      <section class="container mx-auto px-8 flex flex-col justify-center min-h-screen">
        <div>
          <h3 class="border border-black">About</h3>
          <p class="text-7xl mb-8">{homepage.aboutSection.text}</p>
        </div>
      </section>
    )
  }
</Layout>
