---
import type { InferGetStaticParamsType } from "astro";
import { PortableText } from "astro-portabletext";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "../../utils";
import { urlFor } from "../../utils/image";
import { getPost, getPosts } from "../../utils/sanity";
import "../../globals.css";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

const post = await getPost(slug);
---

<Layout title={post.title!}>
  <section class="mt-24">
    <div class="flex flex-col items-center gap-6">
      <div class="p-4 md:p-6 text-center flex flex-col items-center gap-2">
        <p class="mono mt-4">
          {formatDate(post._createdAt)}
        </p>
        <h1 class="t-1">{post.title}</h1>
      </div>
      {
        post.mainImage ? (
          <img
            class="w-full max-h-96 md:max-h-[32rem] object-cover"
            src={urlFor(post.mainImage).url()}
            alt="Cover image"
          />
        ) : (
          <div class="post__cover--none" />
        )
      }
      <div class="p-4 md:p-6 text-xl max-w-3xl text-pretty portable-text">
        <PortableText value={post.body} />
      </div>
    </div>
  </section>
</Layout>

<style>
  .portable-text h3 {
    @apply text-2xl;
    @aaply font-bold;
    font-size: 40px;
  }
</style>
