@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/PPNeueMontreal-Regular.woff') format('woff'), url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/PPNeueMontreal-Medium.woff') format('woff'), url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }


  html {
    @apply antialiased;
    font-family: "NeueMontreal", sans-serif;
    
  }

  .t-0 {
    @apply text-7xl;
    @apply md:text-9xl;
    line-height: .9;
    font-weight: 500
  }

  .t-1 {
        @apply text-4xl;
        @apply sm:text-5xl;
        @apply xl:text-6xl;
        font-weight: 500
  }

  .t-2 {
    @apply text-2xl;
    @apply md:text-3xl;
    line-height: 1.1;
    font-weight: 500
  }

  .mono {
    font-family: "IBM Plex Mono", monospace;
    @apply text-sm;
    @apply uppercase;
    font-weight: 600;
    line-height: 1.2;
  }

  .form-label {
    font-family: "IBM Plex Mono", monospace;
    @apply text-sm;
    @apply uppercase;
    font-weight: 600;
    line-height: 1.2;
  }

  .btn {
    @apply bg-white;
    @apply border-2;
    @apply border-black;
    @apply font-mono;
    @apply py-2;
    @apply px-4;
    @apply rounded-full;
    @apply text-sm;
    @apply uppercase;
    font-weight: 600;
    line-height: 1.2;
  }