@font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/PPNeueMontreal-Regular.woff') format('woff'), url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'NeueMontreal';
    src: url('/fonts/PPNeueMontreal-Medium.woff') format('woff'), url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }


  html {
    @apply antialiased;
    font-family: "NeueMontreal", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
  }

  @media (max-width: 640px) {
    html {
      font-size: 15px;
    }
  }

  .t-0 {
    @apply text-8xl;
    @apply md:text-9xl;
    line-height: .9;
    font-weight: 500
  }

  .t-1 {
        @apply text-4xl;
        @apply sm:text-5xl;
        @apply xl:text-6xl;
        font-weight: 500
  }

  .t-2 {
    @apply text-3xl;
    line-height: 1.1;
    font-weight: 500
  }

  .mono {
    font-family: "IBM Plex Mono", monospace;
    @apply text-sm;
    @apply uppercase;
    font-weight: 600;
    line-height: 1.2;
  }

  .form-label {
    font-family: "IBM Plex Mono", monospace;
    @apply text-sm;
    @apply uppercase;
    font-weight: 600;
    line-height: 1.2;
  }

  .pill {
    @apply border-2;
    @apply border-black;
    @apply font-mono;
    @apply py-2;
    @apply px-4;
    @apply rounded-full;
    @apply text-sm;
    @apply uppercase;
    font-weight: 600;
    line-height: 1.2;
    display: flex;
    align-items: center;
    position: relative
  }
  .btn {
    
  }

  .btn:after {
    content: "→";
    @apply border-2;
    @apply border-black;
    @apply text-sm;
    @apply uppercase;
    @apply font-mono;
    @apply rounded-full;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -2.25rem;
    width: 2.25rem;
    height: 2.25rem;
  }

  .btn-external:after {
    content: "↗";
  }

  .portable-text h3 {
    @apply text-3xl;
    @apply font-medium;
    @apply mt-10;
    @apply mb-4;
  }

  .portable-text b,   .portable-text strong {
    @apply font-medium;
    @apply mt-10;
    @apply mb-4;
  }